html {
    font-size: 14pt;
    font-family: arial, verdana, sans-serif;
}

body {
    display: grid;
    grid-template-columns: repeat(4,20%);
    gap: 8px;
    grid-template-rows: 2fr 9fr 1fr;
}

header {
    background-color: blue;
    grid-column: 1/6;
    grid-row: 1/2;
}

main {
    background-color: darkred;
    grid-column: 2/6;
    grid-row: 2/4;
}

nav {
    background-color: yellow;
    grid-column: 1/2;
    grid-row: 2/4;
}

footer {
    position: relative;
    background-color: chartreuse;
    grid-column: 1/6;
    grid-row: 4/5;
}


