html {
    font-size: 14pt; /* unità di misura: pt = punti stampa, px = pixel */
    /* ce ne sono molte altre ma è un argomento a sé! */
}

h2 {
    color: hotpink;
    font-size: 1.6rem; /* rem esprime in proporzione al valore base del font nel html */
}

h3 {
    color: rgb(40,150,170); /* Red Green Blue */
    /* c'è anche rgba(r,g,b,a) dove a è la trasparenza con valore da 0 a 1 */
    /* es: rgba(40,150,170,0.5) */
}

ul {
    list-style-type: circle; /* cambia il punto elenco, può essere disc, circle o square */
}

img {
    float: left;
    margin-right: 10px; /* per le dimensioni ci sono varie unità di misura, px = pixel */
    /* altre unità di misura molto usate sono pt (punti stampa) */
    /* e vh/vw che sono 1/100 rispettivamente della altezza/larghezza della finestra */
    /* utili quando si vuole esprimere qualcosa in funzione della dimensione della finesta */
    height: 300px;
}

blockquote {
    text-align: right;
}

a {
    color: indianred;
    text-decoration: none; /* rimuove la sottolineatura, text-decoration: underline */
}